# Python
__pycache__/
.venv/
.env
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
wheels/
*.egg-info

# Data
data/
**/data/

# Obsidian local configurations
**/.obsidian/workspace*.json
**/.obsidian/graph.json
**/.obsidian/backlink.json
**/.obsidian/cache/
**/.obsidian/.trash/
**/.obsidian/plugins/*/data.json